{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a Comment</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/styles_googlesignin.css' %}">
</head>
<body>
    <header class="logo-header">
        <div class="logo-container">
            <a href="{% url 'landpage' %}">
                <img src="{% static 'img/mococo_.png' %}" alt="Logo" class="logo">
            </a>
        </div>
    </header>

    <!-- Top Bar to navigate web -->
    <div class="TopBar">
        <ul id="TopBarList">
            <li><a href="{% url 'landpage' %}">Me</a></li>
            <li><a href="{% url 'blogpage' %}">Blog</a></li>
            <li><a href="{% url 'resumepage' %}">Resume</a></li>
            <li><a href="{% url 'aboutmepage' %}">About me</a></li>
        </ul>
    </div>

    <!-- Main page content -->
    <div class="wrapper">
        <h1>Google Sign In!!!</h1>
        
        {% load socialaccount %}
        <h2>Google login</h2>
        <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>
    </div>


    <!-- Page footer -->
    <footer>
        <a href="https://www.linkedin.com/in/joseph-núñez-solano-257623241" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/linkedin-128.png' %}" alt="LinkedIn Logo" class="linkedin_logo">
        </a>
        <a href="https://github.com/Joesviel" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/github-8-128.png' %}" alt="GitHub Logo" class="github_logo">
        </a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/twitter-128.png' %}" alt="Twitter Logo" class="twitter_logo">
        </a>
    </footer>
</body>
</html>
