{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Navigation Bar</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/styles_resumepage.css' %}">
  </head>
  <body>
    <!-- Logo header and green block -->
    <header class="logo-header">
      <div class="logo-container">
        <a href={% url 'landpage' %}>
          <img src="{% static 'img/mococo_.png' %}" alt="Logo" class="logo">
        </a>
      </div>
    </header>

    <!-- Top Bar to navigate web -->
    <div class="TopBar">
      <ul id="TopBarList">
          <li><a href={% url 'landpage' %}>Me</a></li>
          <li><a href={% url 'blogpage' %}>Blog</a></li>
          <li><a href={% url 'resumepage' %}>Resume</a></li>
          <li><a href={% url 'aboutmepage' %}>About me</a></li>
      </ul>
    </div>

    <!-- Main page content -->
    <div class="wrapper">
      <div class="ImgHolder">
        <img src="{% static 'img/Bentley.png' %}" alt="Totally me" class="TotallyMe">
      </div>
      <div class="InfoHolder">
        <h1>
          Joseph Fernando Núñez Solano
        </h1>
        <p id="ShortDescription">
          Software Engineering Student
        </p>
      </div>
    </div>

    <div class="ResumeContent">
      <h2 id="ContactInfo">Contact Information</h2>
      <p id="ContactInfoCelAndMail">
        Tel: 12345678<br/>
        Mail: josephdummymail@gmail.com
      </p>

      <ul id="ResumeList">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</li><br />
        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
          ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
          ea voluptate velit esse quam nihil molestiae consequatur, vel illum
          qui dolorem eum fugiat quo voluptas nulla pariatur?</li><br/>
        <li>Maecenas euismod nunc ac eleifend faucibus. Phasellus nec finibus
          sapien. Donec in hendrerit orci. Quisque elementum finibus ultrices.
          Sed eget tempor metus. Donec sit amet neque luctus, efficitur neque
          et, ultrices erat. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos. Duis ac erat et lectus finibus
          egestas in non metus. Etiam vel tortor vitae eros gravida vestibulu
          vitae eu tortor.</li><br/>
      </ul>
    </div>

    <!-- Page footer -->
    <footer>
      <a href="https://www.linkedin.com/in/joseph-núñez-solano-257623241" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/linkedin-128.png' %}" alt="LinkedIn Logo" class="linkedin_logo">
      </a>
      <a href="https://github.com/Joesviel" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/github-8-128.png' %}" alt="GitHub Logo" class="github_logo">
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'img/twitter-128.png' %}" alt="Twitter Logo" class="twitter_logo">
      </a>
    </footer>
  </body>
</html>